@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products .banner {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.products .title {
  margin-top: 4rem;
  text-align: center;
  font-weight: 700;
}

footer {
  margin-top: 5rem;
  width: 100%;
}

footer .footer {
  height: 400px;
}

/*menu style*/
/* .title-container {
  position: relative;
  overflow: hidden;
  width: auto;

}

.title-container h2 {
  position: absolute;
  left: -100%;
  animation: slideRight 11s linear infinite;
}

@keyframes slideRight {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/*PÁGINA WISHLIST*/

.flex-wishlist {
  display: flex;
  justify-content: space-between;
  margin: 1%;
}

.btn-button {
  padding: 10px 10px;
  background-color: white;
  border: 2px solid;
  color: black;
  text-align: center;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-button:hover {
  background-color: lightblue;
}

.img_flex {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: 3%;
  margin-top: 2%;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px;
  position: relative;
}

.card img {
  width: 100%;
  height: 250px;
}

.add-to-cart-btn {
  width: 100%;
  padding: 10px;
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.h3 {
  font-size: 25px;
  margin-left: 5%;
}

/*final página wishlist*/

/*Página cart*/
.container {
  width: 1170px;
  height: 840px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header-cart {
  width: 1170px;
  height: 72px;
  padding: 24px 39px;
  background: white;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-item {
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

/* Estilizando o contêiner da sacola vazia */
.EmptyBasket-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f8f8;
  margin-left: 5%;
  margin-top: 5%;
}

/* Estilizando o título */
.EmptyBasket-title {
  font-size: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

/* Estilizando o texto dentro da sacola vazia */
.EmptyBasket-text {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

/* Estilizando o link dentro do texto */
.EmptyBasket-text a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: bold;
}

.EmptyBasket-text a:hover {
  color: #f44336;
}

.custom-icon-color {
  color: rgb(41, 43, 54);
}

.buttons {
  display: flex;
  gap: 757px;
}

.button {
  padding: 16px 48px;
  border-radius: 4px;
  border: 1px rgba(0, 0, 0, 0.5) solid;
  justify-content: center;
  align-items: center;
  display: flex;
}

.checkout-container {
  display: flex;
  width: 1170px;
  height: 324px;
  justify-content: center;
  align-items: flex-start;
  gap: 200px;
  column-gap: 250px;
  margin-top: 40%;
}

.coupon-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 16px;
}

.discount-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 10px;
  height: 55px;
}

.apply-coupon-button {
  padding: 16px;
  background: #db4444;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fafafa;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
  cursor: pointer;
  height: 55px;
  width: 200px;
}

.cart-container {
  width: 470px;
  height: 324px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  border: 1.5px black solid;
}

.cart-header {
  left: 24px;
  top: 32px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  word-wrap: break-word;
}

.subtotal,
.shipping,
.total {
  left: 24px;
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.subtotal {
  top: 84px;
}

.shipping {
  top: 140px;
}

.total {
  top: 196px;
}

.checkout-button {
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 16px;
  padding-bottom: 16px;
  left: 40%;
  top: 236px;
  position: absolute;
  background: #db4444;
  border-radius: 4px;
  color: #fafafa;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.divider {
  width: 422px;
  height: 0px;
  border: 1px black solid;
}

/*Final página cart*/

/*menu teste*/
/* Estilos gerais */

header {
  /* display: flex; */
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  /* padding-top: 4%; */
  background-color: #f8f9fa; /* Cor de fundo do cabeçalho */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.black-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px; /* Altura da faixa preta */
  background-color: black; /* Cor da faixa preta */
}

.black-bar h2 {
  margin: 0;
  font-size: 18px;
  white-space: nowrap; /* Evita quebrar o texto em várias linhas */
  overflow: hidden; /* Esconde o texto que ultrapassar a largura da div */
  animation: slideText 15s linear infinite; /* Aplica a animação de deslizamento */
}

@keyframes slideText {
  0% {
    transform: translateX(-100%); /* Inicia o texto fora da tela à direita */
  }
  100% {
    transform: translateX(
      100%
    ); /* Desloca o texto para fora da tela à esquerda */
  }
}

.logo img {
  max-height: 50px;
}

.nav-menu {
  display: flex;
  margin: 2%;
}

.list-menu {
  display: flex;
  gap: 15%;
  align-items: center;
  font-size: 22px;
}

/* Estilos da barra de pesquisa e ícones */
.search-favorites-cart-profile {
  display: flex;
  align-items: center;
  gap: 5%;
}

.search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.cart-counter {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  margin-left: 5px;
}

/* Estilos dos ícones */
.search-favorites-cart-profile img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}
/*final menu teste*/

/*FOOTER TESTE*/
.containerFooter {
  display: flex;
  gap: 7%;
  background-color: black;
  width: auto;
  height: 440px;
  font-family: "Robot", sans-serif;
  padding: 5%;
}

.containerFooter--md {
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  padding-bottom: 1%;
  font-size: 16px;
  font-family: "Robot", sans-serif;
  color: rgba(255, 255, 255, 1);
}

hr {
  border-color: #333;
}

.containerFooter li {
  padding: 2%;
}

.logoFooter {
  position: relative;
  width: 118px;
  height: 40px;
  margin-left: -2%;
}

.firstList {
  display: flex;
  color: white;
  list-style-type: none;
  width: auto;
}

.firstList li input {
  border: 1px solid white;
  background-color: black;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 10px 10px 10px 10px;
}

.input-icon {
  position: relative;
}
.input-icon i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  cursor: pointer;
}

.input-icon input {
  padding-right: 40px;
}

.secondList {
  display: flex;
  color: white;
  list-style-type: none;
}

.threeList {
  display: flex;
  color: white;
  list-style-type: none;
}

.fourList {
  display: flex;
  color: white;
  list-style-type: none;
  width: auto;
}

.fiveList {
  display: flex;
  color: white;
  list-style-type: none;
  width: auto;
}

.fiveList img {
  width: 100px;
}

.fiveList-item--md img {
  display: flex;
  transform: translateX(110%) translateY(-280%);
}

.fiveList > .logos-redes-sociales {
  display: flex;
  height: 40px;
  width: 200px;
  align-items: end;
  justify-content: center;
  transform: translateY(500%) translateX(-90%);
  gap: 15%;
}

.logos-redes-sociales img {
  width: 40px;
  height: 35px;
}
/*FOOTER TESTE*/

/*---------PÁGINA HOME----------*/
@media screen and (min-width: 1024px) {
  header {
    background-color: white !important;
  }

  header h2 {
    color: white;
  }

  header .title-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }

  header .nav-container {
    display: flex;
    gap: 60px;
    align-items: center;
    width: 390px;
    height: 30px;
  }

  .nav-container {
    margin-right: 300px;
  }

  header .logo-container {
    display: block;
  }

  .header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 150px;
  }

  .products {
    margin-top: 75px;
  }

  /* Estilos para o container de produtos */
  #products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
  }

  /* Estilos para os cards de produtos */
  .product-card {
    position: relative;
    height: 410px;
    width: 270px;
    overflow: hidden;
  }
  .img {
    max-height: 200px;
    width: auto;
    object-fit: contain;
  }

  /* Estilos para as imagens dos produtos */
  .product-card .img {
    width: 100%;
    height: auto;
  }

  .buy-button {
    display: none;
    padding: 10px;
    background-color: black;
    border: none;
    color: white;
  }

  /* Exibir o botão de comprar quando o mouse passa sobre o card do produto */
  .product-card:hover .buy-button {
    display: block;
  }

  .svg-container {
    display: flex;
    position: relative;
  }

  .containers {
    padding: 0 135px;
  }

  .flash-sales {
    margin-bottom: 36px;
  }

  .line {
    margin-top: 70px;
  }

  .search-container {
    display: flex;
    width: 300px;
    gap: 20px;
  }

  .container-products-title {
    display: block;
    gap: 40px;
  }

  .swiper {
    width: 90%;
    height: 400px;
  }
}
